<app-header titulo="Grid"></app-header>
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <img src="/assets/willyrex.jpg"/>  
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat perspiciatis aperiam ratione, iste iusto dolores pariatur sunt est cumque esse laboriosam dolorum tenetur rerum odit reprehenderit reiciendis unde consectetur!
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
